.main {
    background-image: url('../../resources/background.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


.k-input {
    border-radius: 5px !important;
    border-color: #c0c7d6 !important;
    width: 100% !important;
}

.k-dropdownlist {
    border-radius: 5px !important;
}

.k-input:focus-within,
.k-dropdownlist:focus-within,
.k-datepicker:focus-within {
    border-color: #2464E4 !important;
    box-shadow: 0 0 0 3px #afc9fd !important;
}

.k-datepicker {
    border-radius: 5px !important;
}

.k-dropdownlist {
    background-color: white !important;
    border: solid 1px #c0c7d6 !important;

}

.k-checkbox {
    border: solid 1px #c0c7d6 !important;
}

.k-button {
    background-color: #2464E4 !important;
    color: white !important;
}




.k-list-item {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    padding: 10px 12px !important;
}

.k-list-item.k-selected {
    background-color: #2464E4 !important;
    color: rgb(255, 255, 255) !important;
    padding: 10px 12px !important;

}

.k-list-item:hover {
    background-color: #1d4ed8 !important;
    color: white !important;
}

.k-list-item .k-selected {
    background-color: #2464E4 !important;
    color: white !important;
    box-shadow: none !important;
    border: none !important;
}

.k-checkbox-label {
    font-size: 14px !important;
}

.k-checkbox .k-selected {
    background-color: #2464E4 !important;
}

.k-checkbox .k-check {
    color: white !important;
    background-color: #2464E4 !important;
}


.k-checkbox:checked {
    border-color: #2464E4 !important;
    background-color: #2464E4 !important;
    box-shadow: none !important;
}

.k-datepicker:active {
    color: #2464E4 !important;
}

.k-calendar .k-selected .k-link {
    background-color: #2464E4 !important;
    border-color: #2464E4 !important;
    color: #fff !important;
}

/* Selected month in month list */
.k-calendar .k-month .k-selected,
.k-calendar .k-calendar-view .k-selected {
    background-color: #2464E4 !important;
    color: #fff !important;
}

.k-calendar .k-today .k-link {
    border-color: #2464E4 !important;
    color: #2464E4 !important;
}

.k-multiselect {
    border-radius: 5px !important;
    color: white !important;
}

.k-chip {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: solid 1px #2464E4 !important;
    border-radius: 20px !important;
    padding: 4px 10px !important;
    font-weight: 500 !important;
}

.k-chip:hover {
    background-color: #c1dcff !important;
}

@media (max-width: 640px) {
    .k-checkbox-label {
        font-size: 10px !important;
    }

}