.main {
    background-image: url('../../resources/background.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

:root {
    --kendo-color-base: #2464E4;
    --kendo-color-on-base: rgb(255, 255, 255);
    --kendo-color-primary: #2464E4;
    --kendo-color-primary-hover: #5990ff;
    --kendo-chip-theme-colors: #0058e9;
    --kendo-font-size: 12px;
    --kendo-color-base-hover: #37afff;
    --kendo-color-on-base-hover: rgb(176, 115, 115);
    --kendo-color-on-primary: rgb(203, 207, 255);
    --kendo-color-on-primary-hover: rgb(255, 255, 255);
    /* --kendo-list-hover-bg: #2464e436;
    --kendo-list-hover-text: #2464E4; */
}

/* .k-list-item:hover,
.k-list-item.k-hover {
    background-color: #2464e436 !important;
    color: #2464E4 !important;
} */

/* .k-chip {
    background-color: #2464E4 !important;
    color: white !important;
} */